<launch>

    <rosparam 
        command="load"
        file="$(find tower_tf_broadcaster)/config/tower_tf_stanzone.yaml"
    />

    <node 
        pkg="tower_tf_broadcaster" 
        type="tower_tf_broadcaster_node" 
        name="tower_tf_broadcaster"
        output="screen"
        respawn="true"
        >
    </node>

    <node 
        pkg="tower_tf_broadcaster" 
        type="markers_broadcaster_node" 
        name="markers_broadcaster_node"
        output="screen"
        respawn="true"
        >
    </node>

    <!--
     <node pkg="tf" type="static_transform_publisher" name="tower_1_st" args="1 2 0 0 0 0  /map /tower_1  100"/>
     <node pkg="tf" type="static_transform_publisher" name="tower_2_st" args="2 3 0 0 0 0  /map /tower_2  100"/>
     <node pkg="tf" type="static_transform_publisher" name="tower_3_st" args="3 4 0 0 0 0  /map /tower_3  100"/>
     <node pkg="tf" type="static_transform_publisher" name="tower_4_st" args="4 5 0 0 0 0  /map /tower_4  100"/>
     -->

</launch>
