<?xml version="1.0" ?>
<launch>
  

    <!-- run rviz -->
    <node pkg="rviz" type="rviz" name="rviz" />

    <node pkg="rosbag" type="play" name="player" output="screen" required="true" 
        args="--delay=4
        --clock 
        --rate=1
        -s 0
        /home/airlab/Documents/bags/game/_2019-03-21-17-33-13.bag" />
    <param name="use_sim_time" value="true" />

    <node pkg="player_tracker" name="player_position_estimation" type="player_position_estimation"/> <!-- launch-prefix="xterm -e gdb -args" /-->

</launch>