<launch>
	<arg name="markerId" default="704"/>
	<arg name="markerSize" default="0.14"/>						<!-- in m -->
	<arg name="eye" default="right"/>
	<arg name="marker_frame" default="aruco_marker_frame"/>
	<arg name="ref_frame" default="kinect2_rgb_optical_frame"/>								<!-- leave empty and the pose will be published wrt param parent_name -->

	<node pkg="aruco_ros" type="single" name="aruco_single">
		<remap from="/camera_info" to="/kinect2/qhd/camera_info" />
		<remap from="/image" to="/kinect2/qhd/image_color" />
		<param name="image_is_rectified" value="True"/>
		<param name="marker_size" value="$(arg markerSize)"/>
		<param name="marker_id" value="$(arg markerId)"/>
		<param name="reference_frame" value="$(arg ref_frame)"/>		<!-- frame in which the marker pose will be refered -->
		<param name="eye" value="$(arg eye)" /> 
		<param name="camera_frame" value="kinect2_rgb_optical_frame" />
		<param name="marker_frame" value="$(arg marker_frame)" />
	</node>

	<node pkg="aruco_camera_to_map" type="aruco_camera_to_map_node" name="aruco_camera_to_map" output="screen">
	</node>
</launch>
