<launch>

    <rosparam command="load" file="$(find arduino_publisher)/config/arduino.yaml" />
    <rosparam command="load" file="$(find tower_manager)/config/tower_config.yaml" />

    <param name="enable_statistics" value="true" />

    <include file="$(find kinect_tracker)/launch/run.launch"/>
    <include file="$(find record_ros)/launch/record_ros.launch"/>

    <node pkg="player_feature" type="player_feature_node" name="player_feature" output="screen" respawn="true" />

    <node pkg="tower_manager" type="tower_manager_node" name="tower_manager" output="screen" respawn="true" />
    
    <node pkg="activity_recognition" type="classifier.py" name="activity_classifier" output="screen" respawn="true" />
    
    <node pkg="record_bag" type="record.py" name="record_bag" output="screen" respawn="true" />

    <!--
    <node pkg="logger" type="GUI2.py" name="logger_GUI" respawn="false" /> -->

</launch>
