<launch>
	
	<!-- Robogame teleop nodes -->
	<include file="$(find joystick)/launch/joystick.launch"/>
	
	<!-- Launch heartbeat and arduino_publisher -->
	<node pkg="heartbeat" type="server_node" name="heartbeat" respawn="true"/>
	<node pkg="arduino_publisher" type="arduino_publisher_node" name="arduino_publisher" respawn="true"/>
	
	<!-- Load dynamic reconfigure parameters for acml -->
	<node name="dynamic_reconfigure_load" pkg="dynamic_reconfigure" type="dynparam" args="load /amcl $(find game_manager)/params/dynamic_reconfigure.yaml" />
	
	<!-- D. Orru's map_odom_listener node -->
	<node pkg="map_odom_listener" type="map_odom_listener_node" name="map_odom_listener" />
	
</launch> 
