<launch>
  
	<!--
  <node name="record_bags" pkg="record_bag" type="record.py" respawn="true"/>
	-->

  <node name="kinect_feat_extractor" pkg="robogame_kinectfeatures_extractor" type="robogame_kinectfeatures_extractor_node" respawn="true" output="screen"/>
	
  <!-- /robot/pose_gt /player/pose_gt /tf " /> -->

    <!--
	<node name="mocap_node"
		type="mocap_node"
		pkg="mocap_optitrack"
		respawn="false"
		launch-prefix=""
		required="true">
		<rosparam file="$(find robogame_kinectfeatures_extractor)/config/mocap_robogame.yaml" command="load" />
	</node> -->
</launch>
