<launch>
  <node pkg="rosserial_python" type="serial_node.py" respawn="true" name="rosserial_arduino" output="screen">
  <param name="~port" value="/dev/ttyACM0" />
  <param name="~baud" value="57600" />
  </node>

  <include file="$(find robogame_joystick)/launch/joystick.launch"/>

  <!-- <node name="wiimote" pkg="robogame_wiimote" type="wiimote_node.py" respawn="true" output="screen"/> -->
  <node name="robogame_arduino" pkg="robogame_arduino" type="robogame_arduino_node" respawn="true" output="screen"/>

  <node name="robogame_game_manager" pkg="robogame_game_manager" type="robogame_game_manager_node" respawn="true" output="screen"/>

  <!-- <node name="kinect_feat_extractor" pkg="robogame_kinectfeatures_extractor" type="robogame_kinectfeatures_extractor_node" respawn="true"/>
  -->
  <node pkg="rosbag" type="record" name="rosbag_record_kinect_features" respawn="true"
       	args="-o $(find robogame_kinectfeatures_extractor)/bags/ /ext_usb_camera/image/compressed
        robogame/imu_state"/>
        <!-- args="-o $(find robogame_kinectfeatures_extractor)/bags/ /kinect_features/ /camera/image /imu/data" /> -->

  <!-- /robot/pose_gt /player/pose_gt /tf " /> -->

    <!--
	<node name="mocap_node"
		type="mocap_node"
		pkg="mocap_optitrack"
		respawn="false"
		launch-prefix=""
		required="true">
		<rosparam file="$(find robogame_kinectfeatures_extractor)/config/mocap_robogame.yaml" command="load" />
	</node> -->
</launch>
