<launch>
  
	<!--
  <node name="record_bags" pkg="record_bag" type="record.py" respawn="true"/>
	-->

    <arg name="camera_namespace" default="/kinect2" />
    <arg name="ground_plane" default="/ground_plane" />
    <arg name="show_frame" default="false"/>

  <include file="$(find ground_plane_estimation)/launch/ground_plane_fixed.launch"/>

  <node name="kinect_tracker" pkg="kinect_tracker" type="kinect_tracker_node" respawn="true" output="screen">
	<param name="show_frame"        type="bool"   value="$(arg show_frame)"/>
	<param name="ground_plane"       type="str"    value="$(arg ground_plane)"/>
	<param name="camera_namespace"   type="str"    value="$(arg camera_namespace)"/>
  </node>
	
  <!-- /robot/pose_gt /player/pose_gt /tf " /> -->

    <!--
	<node name="mocap_node"
		type="mocap_node"
		pkg="mocap_optitrack"
		respawn="false"
		launch-prefix=""
		required="true">
		<rosparam file="$(find robogame_kinectfeatures_extractor)/config/mocap_robogame.yaml" command="load" />
	</node> -->
</launch>
