<launch>

	<rosparam command="load" file="$(find kinect_tracker)/config/tracker.yaml"/>

  <arg name="camera_namespace"    default="/kinect2" />
  <arg name="show_frame"          default="false"/>
  <arg name="color_frame"         default="/sd/image_color_rect"/>
  <arg name="depth_frame"         default="/sd/image_depth_rect"/>
  <arg name="tracker_width_fov"       default="1.23220245191"/>   <!-- 70.6*M_PI/180 -->
  <arg name="tracker_height_fov"      default="1.0471975512"/>    <!-- 60.0*M_PI/180 -->
  <arg name="tracker_cam_width"       default="512"/>
  <arg name="tracker_cam_height"      default="424"/>
  <arg name="seg_threshold"           default="300"/>             <!-- in mm -->

  <node name="kinect_tracker" pkg="kinect_tracker" type="kinect_tracker_node" respawn="true" output="screen">
    <param name="show_frame"        type="bool"   value="$(arg show_frame)"/>
    <param name="camera_namespace"  type="str"    value="$(arg camera_namespace)"/>
    <param name="color_frame"       type="str"    value="$(arg color_frame)"/>
    <param name="depth_frame"       type="str"    value="$(arg depth_frame)"/>
    <param name="cam_width"         type="int"    value="$(arg tracker_cam_width)"/>
    <param name="cam_height"        type="int"    value="$(arg tracker_cam_height)"/>
    <param name="width_fov"         type="double" value="$(arg tracker_width_fov)"/>
    <param name="height_fov"        type="double" value="$(arg tracker_height_fov)"/>
    <param name="seg_threshold"     type="double" value="$(arg seg_threshold)"/>
  </node>
  
</launch>
