<launch>
	
	<!-- Robogame teleop nodes -->
	<include file="$(find joystick)/launch/joystick.launch"/>
	
	<!-- Launch heartbeat and arduino_publisher -->
	<node pkg="heartbeat" type="server_node" name="heartbeat" respawn="true"/>
	<node pkg="arduino_publisher" type="arduino_publisher_node" name="arduino_publisher" respawn="true"/>
	
</launch> 
