<launch>

	<!--
    <rosparam command="load" file="$(find arduino_publisher)/config/arduino.yaml" />
    <rosparam command="load" file="$(find tower_manager)/config/tower_config.yaml" /> -->
    
    <arg name="path_save"   default="/home/airlab/Documents/bags/game"/>
	<arg name="topic"  	default="/enc /tf /vel /amcl_pose /map_odom_amcl /map /unsafe/cmd_vel
 /cmd_vel /scan /player_global_position /tower_1 /tower_2 /tower_3 /tower_4 /tower_button_press_entropy
 /tower_button_press_mean /tower_button_press_var /robogame/goal /robogame/player_global_position
 /robogame/player_local_position /robogame/player_relative_angle /player/tower_button_info /player_act_prediction /game_manager/towers/State
 /proximity /joy /game/goal"/>
	<arg name="file_name"  	default=""/>

	<group ns="record">
		<param name="path_save" type="str" value="$(arg path_save)"	/>
		<param name="topic" 	type="str" value="$(arg topic)"		/>
		<param name="file_name" type="str" value="$(arg file_name)"	/>
		<node name="record_ros" pkg="record_ros" type="record_ros" output="screen" respawn="true"/>
	</group>
    
    <node pkg="record_bag" type="record.py" name="record_bag" output="screen" respawn="true" />
    

</launch>

