<!-- This is a file to control the robot using a PS3-like Joystick. What is different here
     is the fact that I can increase velocity using the joystick not the keyboard.--> 

<launch>
	<!--  smooths inputs from cmd_vel_mux/input/teleop_raw to cmd_vel_mux/input/teleop 
		use this line when using turtlebot model-->
	<include file="$(find robogame_simulator)/launch/includes/velocity_smoother.launch.xml"/>
	
	<node pkg="joy" type="joy_node" name="joystick">
        <param name="autorepeat_rate" value="2" />
    </node>
	
	<node pkg="robogame_simulator" type="joystick_node" name="teleop" output="screen">
		<remap from="robogame/cmd_vel" to="teleop_velocity_smoother/raw_cmd_vel" />
		<!-- <remap from="robogame/cmd_vel" to="/mobile_base/commands/velocity" / -->
		
		<param name="linear_scale" value="4" />
		<param name="angular_scale" value="3.14159" />
		<param name="axis_deadman" value="5"/>
		<param name="axis_linear" value="1"/>
		<param name="axis_angular" value="0"/>

	</node>
</launch>
