<!-- This is the launch file responsable for bringing up the pr2 to my robogame.world environment
     I used the pr2 only for the purpose of acquiring a high quality map using the PR2 slam package.
     Under the hypothesis that the PR2 is equipped with better sensors, I manage to get a better map
     than the one using turtlebot.
     This should not be used for any other purpose besides SLAM. -->

<launch>
    <arg name="gui" default="true"/>
  
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find phd_robogame)/worlds/robogame.world"/>
        <!-- more default parameters can be changed here -->
        <arg name="use_sim_time" value="true"/>
        <arg name="debug" value="false"/>
        <arg name="gui" value="$(arg gui)" />
    </include>

</launch>
