<launch>
    <arg name="gui" default="true"/>
  
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find phd_robogame)/worlds/robogame.world"/>
        <!-- more default parameters can be changed here -->
        <arg name="use_sim_time" value="true"/>
        <arg name="debug" value="false"/>
        <arg name="gui" value="$(arg gui)" />
    </include>

</launch>
