<launch>
	
	<!-- Robogame teleop nodes -->
	<include file="$(find joystick)/launch/joystick.launch"/>
	
	<!-- rosserial launch file for nova core -->
	<include file="$(find rosserial_core)/launch/serial_node.launch">
		<arg name="port" value="/dev/arduino" />
	</include>
	
	<!-- Launch heartbeat and arduino_publisher -->
	<node pkg="heartbeat" type="server_node" name="heartbeat" respawn="true"/>
	<!-- <node pkg="arduino_publisher" type="arduino_publisher_node" name="arduino_publisher" respawn="true"/> <launch-prefix="xterm -e gdb"/> -->
	
	<!-- Data logger -->
	<!--<include file="$(find data_collection)/launch/slippage_data_recorder.launch"/> -->
	<include file="$(find data_collection)/launch/game_data_recorder.launch"/>
	
</launch> 
