<launch>
	
	<!-- Robogame teleop nodes 
	<include file="$(find joystick)/launch/joystick.launch"/-->
	
	<!-- rosserial launch file for arduino -->
	<include file="$(find rosserial_core)/launch/serial_node.launch">
		<arg name="port" value="/dev/arduino" />
	</include>
	
	<!-- For TCP connection to the towers -->
    <include file="$(find rosserial_server)/launch/socket.launch"/>

	<!-- Launch heartbeat-->
	<node pkg="heartbeat" type="server_node" name="heartbeat" respawn="true"/>

	<!-- Launch heartbeat-->
	<node pkg="player_tracker" type="random_sample_consensus" name="random_sample_consensus" respawn="true" output="screen"/>
	
	<!-- Data logger -->
	<include file="$(find data_collection)/launch/game_data_recorder.launch"/>
	
</launch> 
