<launch>
	
	<!-- rosserial launch file for nova core -->
	<include file="$(find rosserial_core)/launch/serial_node.launch">
		<arg name="port" value="/dev/novaCore" />
	</include>
	
	
	<arg name="node_name"             value="velocity_smoother"/>
	<arg name="nodelet_manager_name"  value="nodelet_manager"/>
	<arg name="config_file"           value="$(find yocs_velocity_smoother)/param/standalone.yaml"/>
	<arg name="raw_cmd_vel_topic"     value="raw_cmd_vel"/>
	<arg name="smooth_cmd_vel_topic"  value="cmd_vel"/>
	<arg name="robot_cmd_vel_topic"   value="cmd_vel"/>
	<arg name="odom_topic"            value="odom"/>

	<!-- nodelet manager -->
	<node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager"/>

	<!-- velocity smoother -->
	<include file="$(find yocs_velocity_smoother)/launch/velocity_smoother.launch">
		<arg name="node_name"             value="$(arg node_name)"/>
		<arg name="nodelet_manager_name"  value="$(arg nodelet_manager_name)"/>
		<arg name="config_file"           value="$(arg config_file)"/>
		<arg name="raw_cmd_vel_topic"     value="$(arg raw_cmd_vel_topic)"/>
		<arg name="smooth_cmd_vel_topic"  value="$(arg smooth_cmd_vel_topic)"/>
		<arg name="robot_cmd_vel_topic"   value="$(arg robot_cmd_vel_topic)"/>
		<arg name="odom_topic"            value="$(arg odom_topic)"/>
	</include>
	
	<!-- Robogame teleop nodes -->
	<param name="linear_scale" value="0.75" />
	<param name="angular_scale" value="1.5" />
	<param name="axis_deadman" value="5"/>
	<param name="linear_x_axis" value="1"/>
	<param name="linear_y_axis" value="0"/>
	<param name="angular_axis" value="2"/>
	<param name="max_linear_scale" value="2"/>
	<param name="max_angular_scale" value="3"/>
	<param name="maximal_time_delay_to_stop" value="10"/>
	
	<node pkg="joy" type="joy_node" name="joy">
        <param name="autorepeat_rate" value="60" />
	</node>

	<node pkg="joystick" type="joystick_node" name="joystick_node" output="screen" respawn="false">
		<remap from="cmd_vel" to="raw_cmd_vel"/>
	</node>
	
	<!-- rosserial launch file for arduino -->
	<include file="$(find rosserial_core)/launch/serial_node.launch">
		<arg name="port" value="/dev/arduino" />
	</include>
	
	<!-- Launch heartbeat
	<node pkg="heartbeat" type="server_node" name="heartbeat" respawn="true"/>
	-->

	<!-- Data logger -->
	<include file="$(find data_collection)/launch/game_data_recorder.launch"/>

	<!-- triskar odometry node -->
	<node pkg="odometry_publisher" type="odometry_publisher" name="odometry_publisher"/>

	<include file="$(find triskar)/launch/hokuyo_nodes.launch"/>
	
	
	
</launch> 
