<launch>
	<arg name="teleop" default="1" />
	<arg name="record" default="1" />
	<arg name="laser" default="1" />
	<arg name="laserID" default="H0707625"/>
	
	<!-- rosserial launch file for nova core -->
	<include file="$(find rosserial_core)/launch/serial_node.launch">
		<arg name="port" value="/dev/novaCore" />
	</include>

	<!-- joy node -->
	<node respawn="true" pkg="joy" type="joy_node" name="joy_node" if="$(arg teleop)">
		<param name="dev" type="string" value="/dev/input/js0" />
		<param name="deadzone" value="0.0" />
		<param name="autorepeat_rate" value="100.0" />
	</node>

	<!-- triskar teleop node -->
	<rosparam file="$(find triskar)/params/teleop.yaml" command="load" ns="triskar_teleop" if="$(arg teleop)"/>
	<node pkg="teleop_twist_joy" type="teleop_node" name="triskar_teleop" if="$(arg teleop)"/>
</launch> 
