<launch>

    <rosparam 
        command="load"
        file="$(find arduino_publisher)/config/arduino.yaml"
    />

    <param name="enable_statistics" value="true" />

    <node 
        pkg="arduino_publisher" 
        type="arduino_publisher_node" 
        name="arduino_publisher"
        output="screen"
        respawn="true"
        >
    </node>

</launch>